{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Reg Details</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="card-body  p-2 border rounded">
                    <h3 class="bg-info text-white text-center p-2 border rounded">User register details</h3>
                    <p>Your First Name: {{info.fname}}</p>
                    <p>Your Last Name: {{info.lname}}</p>
                    <p>Your Age: {{info.age}}</p>
                    <p>Email-Id: {{info.email}}</p>
                    <p>Password: {{info.password}}</p>
                    <p>Url : {{info.url}}</p>
                    <p>Gender: {{info.gender}}</p>
                    <p>Selected Branch: {{info.branch}}</p>
                    <p>Known Languages: {{info.language}}</p>
                </div>
            </div>
        </div>
    </body>
</html>