<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="" method="">
            <h2 style="background-color: darksalmon;
            margin-left: 100px;
            margin-right: 120px;
            font-size: medium;
            padding: 10px;
            border-radius: 25px;
            text-align: center;
            font-size: 30px;">Login</h2>
            <div class="container" style="padding: 30px;">
                <label style="padding: 100px 50px"><b>Username: </b></label>
                <input type="text" name="uname" style="width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;" required>
                <label style=" padding: 100px 50px"><b>Password: </b></label>
                <input type="password" name="pswd" style="width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;" required>
                <button type="submit" style="background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;">Login</button>
            </div>
        </form>
        
    </body>
</html>